<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.adolfopardo.estacionamientoapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_car"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_car"
        android:supportsRtl="true"
        android:theme="@style/Theme.EstacionamientoApp"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".DetalleEntradaSalidaActivity"
            android:exported="true" />
        <activity
            android:name=".RegistroActivity"
            android:exported="true" />
        <activity
            android:name=".RegistroSalidaActivity"
            android:exported="true" />
        <activity
            android:name=".AdministradorActivity"
            android:exported="true" />
        <activity
            android:name=".FlujoIngresosActivity"
            android:exported="true" />
        <activity
            android:name=".RegistroEntradasSalidasActivity"
            android:exported="true" />
        <activity
            android:name=".ListadoVehiculosDiaActivity"
            android:exported="true" />
        <activity
            android:name=".CuentaClienteActivity"
            android:exported="true" />
        <activity
            android:name=".ReservaEstacionamientoActivity"
            android:exported="true" />
        <activity
            android:name=".SeleccionEstacionamientoActivity"
            android:exported="true" />
        <activity
            android:name=".ClienteActivity"
            android:exported="true" />
        <activity
            android:name=".CuentaAdminActivity"
            android:exported="true" />
        <activity
            android:name=".LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name=".BroadcastService" />
    </application>
</manifest>